In [8]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [14]:
def sano_enfermo(fila):
    result = 'enfermo'
    if int(fila['target']) == 0:
        result = 'sano'
    return result

df['estado'] = df.apply(sano_enfermo, axis=1)
df.head(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,estado
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,sano
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,sano
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,sano
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,sano
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,sano
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1,enfermo
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0,sano
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0,sano
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0,sano
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0,sano
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1,enfermo
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0,sano
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1,enfermo
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0,sano
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0,sano
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1,enfermo
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1,enfermo
17,54,1,0,124,266,0,0,109,1,2.2,1,1,3,0,sano
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1,enfermo
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1,enfermo

In [15]:
resultado = dict(zip(df['target'].unique(), df['estado'].unique()))
resultado

{0: 'sano', 1: 'enfermo'}

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.20)

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=3)

In [26]:
estimacion = knn.score(X_test, y_test)
print(f'La efectividad con el modelo de kNN es de {estimacion}')

La efectividad con el modelo de kNN es de 0.8634146341463415

In [31]:
estimacion_prueba = knn.score(X_test, y_test)
estimacion_entrenamiento = knn.score(X_train, y_train)
print(f'La efectividad con la data de prueba con el modelo de kNN es de {estimacion_prueba} y con la data de entrenamiento es {estimacion_entrenamiento}')

La efectividad con la data de prueba con el modelo de kNN es de 0.9414634146341463 y con la data de entrenamiento es 0.9951219512195122

In [32]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,estado
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,sano
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,sano
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,sano
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,sano
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,sano

In [33]:
prediccion = knn.predict([[40, 0, 4, 123, 250, 2, 1, 200, 0, 1.1, 2, 0, 1]])
resultado[prediccion[0]]

'enfermo'