# Solución del Punto 2 - Manipulación de datos

In [1]:
# Importar librerías
import pandas as pd
pd.set_option('display.max_columns', None)

# Carga del dataset 1

In [2]:
df_1 = pd.read_excel('Datos Maestros VF.xlsx') # Cargar archivo excel

# Seleccionar columnas a usar
df_1 = df_1[['Nombre visible Agente', 'AGENTE (OFEI)', 'CENTRAL (dDEC, dSEGDES, dPRU…)',
             'Tipo de central (Hidro, Termo, Filo, Menor)']]

# Filtrar por agente EMGESA S.A. y Tipo de central H o T
df_1 = df_1[(df_1['AGENTE (OFEI)'] == 'EMGESA S.A.') &
        (df_1['Tipo de central (Hidro, Termo, Filo, Menor)'].isin(['H', 'T']))
        ]

df_1.head() # visualizar dataset

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)"
32,EMGESA,EMGESA S.A.,BETANIA,H
33,EMGESA,EMGESA S.A.,BETANIA,H
34,EMGESA,EMGESA S.A.,BETANIA,H
49,EMGESA,EMGESA S.A.,CTGEMG1,T
50,EMGESA,EMGESA S.A.,CTGEMG2,T

# Carga del dataset 2

In [3]:
# Cargar archivo txt
df_2 = pd.read_csv('dDEC1204.txt', sep=',', header=None, encoding='ISO-8859-1') 

# Asignando nombre a la primera columna
df_2 = df_2.rename(columns={0: 'Central'}) 

# visualizar dataset
df_2.head()

,Central,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,AG_ARGOSCTG,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AG_ARGOSYUM,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AG_ELCAIRO,0,0,0,1,3,3,3,3,3,3,3,3,3,3,3,0,0,0,0,1,3,3,3,3
3,AG_REFICAR,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4,AG_UNIBOL,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# Dataset final

In [4]:
# Crear dataframe usando df_1 y df_2
df = pd.merge(df_1, df_2, left_on='CENTRAL (dDEC, dSEGDES, dPRU…)', right_on='Central', how='inner')

# Eliminar columna Central
df.drop(columns=['Central'], inplace=True)

# Crear columna que sume las horas horizontalmente de cada planta
df['total horas'] = df.select_dtypes(include='int').sum(axis=1)

# Filtrar por total horas mayores a 0
df = df[df['total horas'] > 0]

df.to_csv('df.csv', index=False) # Guardar archivo transformado

# Visualizar dataframe
df.head()

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)",1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,total horas
0,EMGESA,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,8736
1,EMGESA,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,8736
2,EMGESA,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,364,8736
6,EMGESA,EMGESA S.A.,ELQUIMBO,H,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,2040
7,EMGESA,EMGESA S.A.,ELQUIMBO,H,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,2040

# Explicación del código